body {
  background-color: black;
}


.slate {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 20000px;
}


.axis {
  position: absolute;
  top: 0px;
  background-color: #333333;
  height: 1px;
  width: 1000px;
}

.green {
  background-color: #00FF00;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}

.circle {
  border-radius: 50%;
  animation: animcircle infinite ease-in-out alternate;
}

@keyframes animcircleViaRotate { 
      to { transform: rotate(1turn); } 
}


@keyframes animcircle { 
    from { transform: translateX(-40px); } 
      to { transform: translateY( 40px); } 
}
@keyframes updown {
    from { transform: translateY(-20px); } 
      to { transform: translateY(20px); } 
}
