body {
  background-color: black;
}


.slate {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 20000px;
}


.axis {
  position: absolute;
  top: 0px;
  background-color: #333333;
  height: 1px;
  width: 1000px;
}

.green {
  background-color: #00FF00;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}

.circle {
    border-radius: 50%;
    position: absolute;
}


@keyframes animcircle { 
    from { transform: translateX(-10px) translateZ(-10px); } 
    to { transform: translateX( 10px) translateZ(10px); } 
}

@keyframes updown10 {
    from { transform: translateY(-10px); } 
      to { transform: translateY( 10px); } 
}

@keyframes updown15 {
    from { transform: translateY(-15px); } 
      to { transform: translateY( 15px); } 
}

@keyframes updown20 {
    from { transform: translateY(-20px); } 
      to { transform: translateY( 20px); }
}

@keyframes updown50 {
    from { transform: translateY(-50px); } 
      to { transform: translateY( 50px); }
}
