body, .ui-page {
    background-color: #080614 !important;
}


.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}






.atom {
    position: absolute;
    background-color: #89b4dd;
    border-radius: 50%;
    width: 41px;
    height: 41px;
}



.timeline {
    position: absolute;
    top: 215px;
    left: 30px;
    height: 1px;
    width: 1800px;
    background-color: white;
    color: white;
}

.timemarker {
    position: absolute;
}

.notch {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: white;
}

.label {
    width: 75px;
    position: absolute;
    font-family: arial;
    font-size: 15px;
    top: 15px;
}

.label .time {
    font-weight: bold;
    margin-bottom: 5px;
}




@keyframes leafAnim{
  0% {
    transform:  translate(496px,-35px)  rotate(0deg) ;
  }
  10% {
    transform:  translate(531px,-37px)  rotate(-36deg) ;
  }
  37% {
    transform:  translate(618px,-25px)  rotate(-298deg) ;
  }
  50% {
    transform:  translate(625px,15px)  rotate(-100deg) ;
  }
  75% {
    transform:  translate(849px,44px)  rotate(-58deg);
    opacity: 1.0;
  }
  100% {
    transform:  translate(1249px,44px)  rotate(0deg);
    opacity: 0.0;
  }
}



@keyframes spin {
    from {transform: translate3d(200px, 0px, 0px)   rotate3d(0, 0, 1, 0deg);}
    to {transform:   translate3d(300px, 0px, 0px)   rotate3d(0, 0, 1, -50deg);}
}

.leaf {
    visibility: hidden;
    z-index: 100;
    position: absolute;
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
    /* animation-name: leafAnim; */
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.leaf.darkgreen {
    background: url(leaf-darkgreen.svg);
    animation-delay: 0.3s;
    animation-duration: 6.3s;
}

.leaf.green {
    background: url(leaf-lightgreen-1.svg);
    animation-delay: 0.8s;
    animation-duration: 7.5s;
}

.leaf.yellow {
    background: url(leaf-yello-1.svg);
    animation-delay: 1.1s;
    animation-duration: 8.4s;
}

.leaf.red {
    background: url(leaf-umber-1.svg);
    animation-delay: 1.3s;
}





.atom.childcount1 .hadron {
    transform: scale3d(0.6,0.6,1) translate3d(8px,8px,0px);
}

.atom.childcount2 .h0 {
    transform: scale3d(0.6,0.6,1) translate3d(-2px,-2px,0px);
}
.atom.childcount2 .h1 {
    transform: scale3d(0.6,0.6,1) translate3d(20px, 20px, 0px);
}


.timemarker-prose {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 300px;
    color: white;
    font-family: Arial;
    font-size: 15px;
}

.hadron {
    position: absolute;
    background-color: #bfe2f7;
    border-radius: 50%;
    width: 31px;
    height: 31px;
}


.quark {
    position: absolute;
       background-color: red;
       border-radius: 50%;
       width: 11px;
       height: 11px;
}

.quark.upleft {
    left: 4px;
    top: 4.5px;
    background-color: #7ebea2;
}

.quark.upright {
    left: 16px;
    top: 4.5px;
    background-color: #7ebea2;
}

.quark.down {
    left: 10px;
    top: 17px;
    background-color: #90ca6d;
}




.slate {
  position: relative;
  margin-left: 60px;
  margin-top: 200px;
  width: 20000px;
}




/* INNERMOST div */
.circle {
    z-index: 1;
    border-radius: 50%;
}

.circle-outer {
}


@keyframes animcircle { 
    from { transform: translate3d(-10px, 0px, -30px); } 
    to { transform: translate3d(10px, 0px, 30px); } 
}
