@keyframes updown1 {
    from { transform: translateY(-1px); } 
      to { transform: translateY( 1px); }
}

@keyframes updown2 {
    from { transform: translateY(-2px); } 
      to { transform: translateY( 2px); }
}

@keyframes updown3 {
    from { transform: translateY(-3px); } 
      to { transform: translateY( 3px); }
}

@keyframes updown4 {
    from { transform: translateY(-4px); } 
      to { transform: translateY( 4px); }
}

@keyframes updown5 {
    from { transform: translateY(-5px); } 
      to { transform: translateY( 5px); }
}

@keyframes updown6 {
    from { transform: translateY(-6px); } 
      to { transform: translateY( 6px); }
}

@keyframes updown7 {
    from { transform: translateY(-7px); } 
      to { transform: translateY( 7px); }
}

@keyframes updown8 {
    from { transform: translateY(-8px); } 
      to { transform: translateY( 8px); }
}

@keyframes updown9 {
    from { transform: translateY(-9px); } 
      to { transform: translateY( 9px); }
}

@keyframes updown10 {
    from { transform: translateY(-10px); } 
      to { transform: translateY( 10px); }
}

@keyframes updown11 {
    from { transform: translateY(-11px); } 
      to { transform: translateY( 11px); }
}

@keyframes updown12 {
    from { transform: translateY(-12px); } 
      to { transform: translateY( 12px); }
}

@keyframes updown13 {
    from { transform: translateY(-13px); } 
      to { transform: translateY( 13px); }
}

@keyframes updown14 {
    from { transform: translateY(-14px); } 
      to { transform: translateY( 14px); }
}

@keyframes updown15 {
    from { transform: translateY(-15px); } 
      to { transform: translateY( 15px); }
}

@keyframes updown16 {
    from { transform: translateY(-16px); } 
      to { transform: translateY( 16px); }
}

@keyframes updown17 {
    from { transform: translateY(-17px); } 
      to { transform: translateY( 17px); }
}

@keyframes updown18 {
    from { transform: translateY(-18px); } 
      to { transform: translateY( 18px); }
}

@keyframes updown19 {
    from { transform: translateY(-19px); } 
      to { transform: translateY( 19px); }
}

@keyframes updown20 {
    from { transform: translateY(-20px); } 
      to { transform: translateY( 20px); }
}

@keyframes updown21 {
    from { transform: translateY(-21px); } 
      to { transform: translateY( 21px); }
}

@keyframes updown22 {
    from { transform: translateY(-22px); } 
      to { transform: translateY( 22px); }
}

@keyframes updown23 {
    from { transform: translateY(-23px); } 
      to { transform: translateY( 23px); }
}

@keyframes updown24 {
    from { transform: translateY(-24px); } 
      to { transform: translateY( 24px); }
}

@keyframes updown25 {
    from { transform: translateY(-25px); } 
      to { transform: translateY( 25px); }
}

@keyframes updown26 {
    from { transform: translateY(-26px); } 
      to { transform: translateY( 26px); }
}

@keyframes updown27 {
    from { transform: translateY(-27px); } 
      to { transform: translateY( 27px); }
}

@keyframes updown28 {
    from { transform: translateY(-28px); } 
      to { transform: translateY( 28px); }
}

@keyframes updown29 {
    from { transform: translateY(-29px); } 
      to { transform: translateY( 29px); }
}

@keyframes updown30 {
    from { transform: translateY(-30px); } 
      to { transform: translateY( 30px); }
}

@keyframes updown31 {
    from { transform: translateY(-31px); } 
      to { transform: translateY( 31px); }
}

@keyframes updown32 {
    from { transform: translateY(-32px); } 
      to { transform: translateY( 32px); }
}

@keyframes updown33 {
    from { transform: translateY(-33px); } 
      to { transform: translateY( 33px); }
}

@keyframes updown34 {
    from { transform: translateY(-34px); } 
      to { transform: translateY( 34px); }
}

@keyframes updown35 {
    from { transform: translateY(-35px); } 
      to { transform: translateY( 35px); }
}

@keyframes updown36 {
    from { transform: translateY(-36px); } 
      to { transform: translateY( 36px); }
}

@keyframes updown37 {
    from { transform: translateY(-37px); } 
      to { transform: translateY( 37px); }
}

@keyframes updown38 {
    from { transform: translateY(-38px); } 
      to { transform: translateY( 38px); }
}

@keyframes updown39 {
    from { transform: translateY(-39px); } 
      to { transform: translateY( 39px); }
}

@keyframes updown40 {
    from { transform: translateY(-40px); } 
      to { transform: translateY( 40px); }
}

@keyframes updown41 {
    from { transform: translateY(-41px); } 
      to { transform: translateY( 41px); }
}

@keyframes updown42 {
    from { transform: translateY(-42px); } 
      to { transform: translateY( 42px); }
}

@keyframes updown43 {
    from { transform: translateY(-43px); } 
      to { transform: translateY( 43px); }
}

@keyframes updown44 {
    from { transform: translateY(-44px); } 
      to { transform: translateY( 44px); }
}

@keyframes updown45 {
    from { transform: translateY(-45px); } 
      to { transform: translateY( 45px); }
}

@keyframes updown46 {
    from { transform: translateY(-46px); } 
      to { transform: translateY( 46px); }
}

@keyframes updown47 {
    from { transform: translateY(-47px); } 
      to { transform: translateY( 47px); }
}

@keyframes updown48 {
    from { transform: translateY(-48px); } 
      to { transform: translateY( 48px); }
}

@keyframes updown49 {
    from { transform: translateY(-49px); } 
      to { transform: translateY( 49px); }
}

@keyframes updown50 {
    from { transform: translateY(-50px); } 
      to { transform: translateY( 50px); }
}

@keyframes updown51 {
    from { transform: translateY(-51px); } 
      to { transform: translateY( 51px); }
}

@keyframes updown52 {
    from { transform: translateY(-52px); } 
      to { transform: translateY( 52px); }
}

@keyframes updown53 {
    from { transform: translateY(-53px); } 
      to { transform: translateY( 53px); }
}

@keyframes updown54 {
    from { transform: translateY(-54px); } 
      to { transform: translateY( 54px); }
}

@keyframes updown55 {
    from { transform: translateY(-55px); } 
      to { transform: translateY( 55px); }
}

@keyframes updown56 {
    from { transform: translateY(-56px); } 
      to { transform: translateY( 56px); }
}

@keyframes updown57 {
    from { transform: translateY(-57px); } 
      to { transform: translateY( 57px); }
}

@keyframes updown58 {
    from { transform: translateY(-58px); } 
      to { transform: translateY( 58px); }
}

@keyframes updown59 {
    from { transform: translateY(-59px); } 
      to { transform: translateY( 59px); }
}

@keyframes updown60 {
    from { transform: translateY(-60px); } 
      to { transform: translateY( 60px); }
}

@keyframes updown61 {
    from { transform: translateY(-61px); } 
      to { transform: translateY( 61px); }
}

@keyframes updown62 {
    from { transform: translateY(-62px); } 
      to { transform: translateY( 62px); }
}

@keyframes updown63 {
    from { transform: translateY(-63px); } 
      to { transform: translateY( 63px); }
}

@keyframes updown64 {
    from { transform: translateY(-64px); } 
      to { transform: translateY( 64px); }
}

@keyframes updown65 {
    from { transform: translateY(-65px); } 
      to { transform: translateY( 65px); }
}

@keyframes updown66 {
    from { transform: translateY(-66px); } 
      to { transform: translateY( 66px); }
}

@keyframes updown67 {
    from { transform: translateY(-67px); } 
      to { transform: translateY( 67px); }
}

@keyframes updown68 {
    from { transform: translateY(-68px); } 
      to { transform: translateY( 68px); }
}

@keyframes updown69 {
    from { transform: translateY(-69px); } 
      to { transform: translateY( 69px); }
}

@keyframes updown70 {
    from { transform: translateY(-70px); } 
      to { transform: translateY( 70px); }
}

@keyframes updown71 {
    from { transform: translateY(-71px); } 
      to { transform: translateY( 71px); }
}

@keyframes updown72 {
    from { transform: translateY(-72px); } 
      to { transform: translateY( 72px); }
}

@keyframes updown73 {
    from { transform: translateY(-73px); } 
      to { transform: translateY( 73px); }
}

@keyframes updown74 {
    from { transform: translateY(-74px); } 
      to { transform: translateY( 74px); }
}

@keyframes updown75 {
    from { transform: translateY(-75px); } 
      to { transform: translateY( 75px); }
}

@keyframes updown76 {
    from { transform: translateY(-76px); } 
      to { transform: translateY( 76px); }
}

@keyframes updown77 {
    from { transform: translateY(-77px); } 
      to { transform: translateY( 77px); }
}

@keyframes updown78 {
    from { transform: translateY(-78px); } 
      to { transform: translateY( 78px); }
}

@keyframes updown79 {
    from { transform: translateY(-79px); } 
      to { transform: translateY( 79px); }
}
