@keyframes cycle1 {
      0% { transform: translateX(0px) translateY(-1px); }
      100% { transform: translateX(0px) translateY(1px); }
}

@keyframes cycle2 {
      0% { transform: translateX(0px) translateY(-2px); }
      100% { transform: translateX(0px) translateY(2px); }
}

@keyframes cycle3 {
      0% { transform: translateX(0px) translateY(-3px); }
      100% { transform: translateX(0px) translateY(3px); }
}

@keyframes cycle4 {
      0% { transform: translateX(0px) translateY(-4px); }
      100% { transform: translateX(0px) translateY(4px); }
}

@keyframes cycle5 {
      0% { transform: translateX(0px) translateY(-5px); }
      100% { transform: translateX(0px) translateY(5px); }
}

@keyframes cycle6 {
      0% { transform: translateX(0px) translateY(-6px); }
      100% { transform: translateX(0px) translateY(6px); }
}

@keyframes cycle7 {
      0% { transform: translateX(0px) translateY(-7px); }
      100% { transform: translateX(0px) translateY(7px); }
}

@keyframes cycle8 {
      0% { transform: translateX(0px) translateY(-8px); }
      100% { transform: translateX(0px) translateY(8px); }
}

@keyframes cycle9 {
      0% { transform: translateX(0px) translateY(-9px); }
      100% { transform: translateX(0px) translateY(9px); }
}

@keyframes cycle10 {
      0% { transform: translateX(0px) translateY(-10px); }
      100% { transform: translateX(0px) translateY(10px); }
}

@keyframes cycle11 {
      0% { transform: translateX(0px) translateY(-11px); }
      100% { transform: translateX(0px) translateY(11px); }
}

@keyframes cycle12 {
      0% { transform: translateX(0px) translateY(-12px); }
      100% { transform: translateX(0px) translateY(12px); }
}

@keyframes cycle13 {
      0% { transform: translateX(0px) translateY(-13px); }
      100% { transform: translateX(0px) translateY(13px); }
}

@keyframes cycle14 {
      0% { transform: translateX(0px) translateY(-14px); }
      100% { transform: translateX(0px) translateY(14px); }
}

@keyframes cycle15 {
      0% { transform: translateX(0px) translateY(-15px); }
      100% { transform: translateX(0px) translateY(15px); }
}

@keyframes cycle16 {
      0% { transform: translateX(0px) translateY(-16px); }
      100% { transform: translateX(0px) translateY(16px); }
}

@keyframes cycle17 {
      0% { transform: translateX(0px) translateY(-17px); }
      100% { transform: translateX(0px) translateY(17px); }
}

@keyframes cycle18 {
      0% { transform: translateX(0px) translateY(-18px); }
      100% { transform: translateX(0px) translateY(18px); }
}

@keyframes cycle19 {
      0% { transform: translateX(0px) translateY(-19px); }
      100% { transform: translateX(0px) translateY(19px); }
}

@keyframes cycle20 {
      0% { transform: translateX(0px) translateY(-20px); }
      100% { transform: translateX(0px) translateY(20px); }
}

@keyframes cycle21 {
      0% { transform: translateX(0px) translateY(-21px); }
      100% { transform: translateX(0px) translateY(21px); }
}

@keyframes cycle22 {
      0% { transform: translateX(0px) translateY(-22px); }
      100% { transform: translateX(0px) translateY(22px); }
}

@keyframes cycle23 {
      0% { transform: translateX(0px) translateY(-23px); }
      100% { transform: translateX(0px) translateY(23px); }
}

@keyframes cycle24 {
      0% { transform: translateX(0px) translateY(-24px); }
      100% { transform: translateX(0px) translateY(24px); }
}

@keyframes cycle25 {
      0% { transform: translateX(0px) translateY(-25px); }
      100% { transform: translateX(0px) translateY(25px); }
}

@keyframes cycle26 {
      0% { transform: translateX(0px) translateY(-26px); }
      100% { transform: translateX(0px) translateY(26px); }
}

@keyframes cycle27 {
      0% { transform: translateX(0px) translateY(-27px); }
      100% { transform: translateX(0px) translateY(27px); }
}

@keyframes cycle28 {
      0% { transform: translateX(0px) translateY(-28px); }
      100% { transform: translateX(0px) translateY(28px); }
}

@keyframes cycle29 {
      0% { transform: translateX(0px) translateY(-29px); }
      100% { transform: translateX(0px) translateY(29px); }
}

@keyframes cycle30 {
      0% { transform: translateX(0px) translateY(-30px); }
      100% { transform: translateX(0px) translateY(30px); }
}

@keyframes cycle31 {
      0% { transform: translateX(0px) translateY(-31px); }
      100% { transform: translateX(0px) translateY(31px); }
}

@keyframes cycle32 {
      0% { transform: translateX(0px) translateY(-32px); }
      100% { transform: translateX(0px) translateY(32px); }
}

@keyframes cycle33 {
      0% { transform: translateX(0px) translateY(-33px); }
      100% { transform: translateX(0px) translateY(33px); }
}

@keyframes cycle34 {
      0% { transform: translateX(0px) translateY(-34px); }
      100% { transform: translateX(0px) translateY(34px); }
}

@keyframes cycle35 {
      0% { transform: translateX(0px) translateY(-35px); }
      100% { transform: translateX(0px) translateY(35px); }
}

@keyframes cycle36 {
      0% { transform: translateX(0px) translateY(-36px); }
      100% { transform: translateX(0px) translateY(36px); }
}

@keyframes cycle37 {
      0% { transform: translateX(0px) translateY(-37px); }
      100% { transform: translateX(0px) translateY(37px); }
}

@keyframes cycle38 {
      0% { transform: translateX(0px) translateY(-38px); }
      100% { transform: translateX(0px) translateY(38px); }
}

@keyframes cycle39 {
      0% { transform: translateX(0px) translateY(-39px); }
      100% { transform: translateX(0px) translateY(39px); }
}

@keyframes cycle40 {
      0% { transform: translateX(0px) translateY(-40px); }
      100% { transform: translateX(0px) translateY(40px); }
}

@keyframes cycle41 {
      0% { transform: translateX(0px) translateY(-41px); }
      100% { transform: translateX(0px) translateY(41px); }
}

@keyframes cycle42 {
      0% { transform: translateX(0px) translateY(-42px); }
      100% { transform: translateX(0px) translateY(42px); }
}

@keyframes cycle43 {
      0% { transform: translateX(0px) translateY(-43px); }
      100% { transform: translateX(0px) translateY(43px); }
}

@keyframes cycle44 {
      0% { transform: translateX(0px) translateY(-44px); }
      100% { transform: translateX(0px) translateY(44px); }
}

@keyframes cycle45 {
      0% { transform: translateX(0px) translateY(-45px); }
      100% { transform: translateX(0px) translateY(45px); }
}

@keyframes cycle46 {
      0% { transform: translateX(0px) translateY(-46px); }
      100% { transform: translateX(0px) translateY(46px); }
}

@keyframes cycle47 {
      0% { transform: translateX(0px) translateY(-47px); }
      100% { transform: translateX(0px) translateY(47px); }
}

@keyframes cycle48 {
      0% { transform: translateX(0px) translateY(-48px); }
      100% { transform: translateX(0px) translateY(48px); }
}

@keyframes cycle49 {
      0% { transform: translateX(0px) translateY(-49px); }
      100% { transform: translateX(0px) translateY(49px); }
}

@keyframes cycle50 {
      0% { transform: translateX(0px) translateY(-50px); }
      100% { transform: translateX(0px) translateY(50px); }
}

@keyframes cycle51 {
      0% { transform: translateX(0px) translateY(-51px); }
      100% { transform: translateX(0px) translateY(51px); }
}

@keyframes cycle52 {
      0% { transform: translateX(0px) translateY(-52px); }
      100% { transform: translateX(0px) translateY(52px); }
}

@keyframes cycle53 {
      0% { transform: translateX(0px) translateY(-53px); }
      100% { transform: translateX(0px) translateY(53px); }
}

@keyframes cycle54 {
      0% { transform: translateX(0px) translateY(-54px); }
      100% { transform: translateX(0px) translateY(54px); }
}

@keyframes cycle55 {
      0% { transform: translateX(0px) translateY(-55px); }
      100% { transform: translateX(0px) translateY(55px); }
}

@keyframes cycle56 {
      0% { transform: translateX(0px) translateY(-56px); }
      100% { transform: translateX(0px) translateY(56px); }
}

@keyframes cycle57 {
      0% { transform: translateX(0px) translateY(-57px); }
      100% { transform: translateX(0px) translateY(57px); }
}

@keyframes cycle58 {
      0% { transform: translateX(0px) translateY(-58px); }
      100% { transform: translateX(0px) translateY(58px); }
}

@keyframes cycle59 {
      0% { transform: translateX(0px) translateY(-59px); }
      100% { transform: translateX(0px) translateY(59px); }
}

@keyframes cycle60 {
      0% { transform: translateX(0px) translateY(-60px); }
      100% { transform: translateX(0px) translateY(60px); }
}

@keyframes cycle61 {
      0% { transform: translateX(0px) translateY(-61px); }
      100% { transform: translateX(0px) translateY(61px); }
}

@keyframes cycle62 {
      0% { transform: translateX(0px) translateY(-62px); }
      100% { transform: translateX(0px) translateY(62px); }
}

@keyframes cycle63 {
      0% { transform: translateX(0px) translateY(-63px); }
      100% { transform: translateX(0px) translateY(63px); }
}

@keyframes cycle64 {
      0% { transform: translateX(0px) translateY(-64px); }
      100% { transform: translateX(0px) translateY(64px); }
}

@keyframes cycle65 {
      0% { transform: translateX(0px) translateY(-65px); }
      100% { transform: translateX(0px) translateY(65px); }
}

@keyframes cycle66 {
      0% { transform: translateX(0px) translateY(-66px); }
      100% { transform: translateX(0px) translateY(66px); }
}

@keyframes cycle67 {
      0% { transform: translateX(0px) translateY(-67px); }
      100% { transform: translateX(0px) translateY(67px); }
}

@keyframes cycle68 {
      0% { transform: translateX(0px) translateY(-68px); }
      100% { transform: translateX(0px) translateY(68px); }
}

@keyframes cycle69 {
      0% { transform: translateX(0px) translateY(-69px); }
      100% { transform: translateX(0px) translateY(69px); }
}

@keyframes cycle70 {
      0% { transform: translateX(0px) translateY(-70px); }
      100% { transform: translateX(0px) translateY(70px); }
}

@keyframes cycle71 {
      0% { transform: translateX(0px) translateY(-71px); }
      100% { transform: translateX(0px) translateY(71px); }
}

@keyframes cycle72 {
      0% { transform: translateX(0px) translateY(-72px); }
      100% { transform: translateX(0px) translateY(72px); }
}

@keyframes cycle73 {
      0% { transform: translateX(0px) translateY(-73px); }
      100% { transform: translateX(0px) translateY(73px); }
}

@keyframes cycle74 {
      0% { transform: translateX(0px) translateY(-74px); }
      100% { transform: translateX(0px) translateY(74px); }
}

@keyframes cycle75 {
      0% { transform: translateX(0px) translateY(-75px); }
      100% { transform: translateX(0px) translateY(75px); }
}

@keyframes cycle76 {
      0% { transform: translateX(0px) translateY(-76px); }
      100% { transform: translateX(0px) translateY(76px); }
}

@keyframes cycle77 {
      0% { transform: translateX(0px) translateY(-77px); }
      100% { transform: translateX(0px) translateY(77px); }
}

@keyframes cycle78 {
      0% { transform: translateX(0px) translateY(-78px); }
      100% { transform: translateX(0px) translateY(78px); }
}

@keyframes cycle79 {
      0% { transform: translateX(0px) translateY(-79px); }
      100% { transform: translateX(0px) translateY(79px); }
}

@keyframes cycle80 {
      0% { transform: translateX(0px) translateY(-80px); }
      100% { transform: translateX(0px) translateY(80px); }
}

@keyframes cycle81 {
      0% { transform: translateX(0px) translateY(-81px); }
      100% { transform: translateX(0px) translateY(81px); }
}

@keyframes cycle82 {
      0% { transform: translateX(0px) translateY(-82px); }
      100% { transform: translateX(0px) translateY(82px); }
}

@keyframes cycle83 {
      0% { transform: translateX(0px) translateY(-83px); }
      100% { transform: translateX(0px) translateY(83px); }
}

@keyframes cycle84 {
      0% { transform: translateX(0px) translateY(-84px); }
      100% { transform: translateX(0px) translateY(84px); }
}

@keyframes cycle85 {
      0% { transform: translateX(0px) translateY(-85px); }
      100% { transform: translateX(0px) translateY(85px); }
}

@keyframes cycle86 {
      0% { transform: translateX(0px) translateY(-86px); }
      100% { transform: translateX(0px) translateY(86px); }
}

@keyframes cycle87 {
      0% { transform: translateX(0px) translateY(-87px); }
      100% { transform: translateX(0px) translateY(87px); }
}

@keyframes cycle88 {
      0% { transform: translateX(0px) translateY(-88px); }
      100% { transform: translateX(0px) translateY(88px); }
}

@keyframes cycle89 {
      0% { transform: translateX(0px) translateY(-89px); }
      100% { transform: translateX(0px) translateY(89px); }
}

@keyframes cycle90 {
      0% { transform: translateX(0px) translateY(-90px); }
      100% { transform: translateX(0px) translateY(90px); }
}

@keyframes cycle91 {
      0% { transform: translateX(0px) translateY(-91px); }
      100% { transform: translateX(0px) translateY(91px); }
}

@keyframes cycle92 {
      0% { transform: translateX(0px) translateY(-92px); }
      100% { transform: translateX(0px) translateY(92px); }
}

@keyframes cycle93 {
      0% { transform: translateX(0px) translateY(-93px); }
      100% { transform: translateX(0px) translateY(93px); }
}

@keyframes cycle94 {
      0% { transform: translateX(0px) translateY(-94px); }
      100% { transform: translateX(0px) translateY(94px); }
}

@keyframes cycle95 {
      0% { transform: translateX(0px) translateY(-95px); }
      100% { transform: translateX(0px) translateY(95px); }
}

@keyframes cycle96 {
      0% { transform: translateX(0px) translateY(-96px); }
      100% { transform: translateX(0px) translateY(96px); }
}

@keyframes cycle97 {
      0% { transform: translateX(0px) translateY(-97px); }
      100% { transform: translateX(0px) translateY(97px); }
}

@keyframes cycle98 {
      0% { transform: translateX(0px) translateY(-98px); }
      100% { transform: translateX(0px) translateY(98px); }
}

@keyframes cycle99 {
      0% { transform: translateX(0px) translateY(-99px); }
      100% { transform: translateX(0px) translateY(99px); }
}

@keyframes cycle100 {
      0% { transform: translateX(0px) translateY(-100px); }
      100% { transform: translateX(0px) translateY(100px); }
}

@keyframes cycle101 {
      0% { transform: translateX(0px) translateY(-101px); }
      100% { transform: translateX(0px) translateY(101px); }
}

@keyframes cycle102 {
      0% { transform: translateX(0px) translateY(-102px); }
      100% { transform: translateX(0px) translateY(102px); }
}

@keyframes cycle103 {
      0% { transform: translateX(0px) translateY(-103px); }
      100% { transform: translateX(0px) translateY(103px); }
}

@keyframes cycle104 {
      0% { transform: translateX(0px) translateY(-104px); }
      100% { transform: translateX(0px) translateY(104px); }
}

@keyframes cycle105 {
      0% { transform: translateX(0px) translateY(-105px); }
      100% { transform: translateX(0px) translateY(105px); }
}

@keyframes cycle106 {
      0% { transform: translateX(0px) translateY(-106px); }
      100% { transform: translateX(0px) translateY(106px); }
}

@keyframes cycle107 {
      0% { transform: translateX(0px) translateY(-107px); }
      100% { transform: translateX(0px) translateY(107px); }
}

@keyframes cycle108 {
      0% { transform: translateX(0px) translateY(-108px); }
      100% { transform: translateX(0px) translateY(108px); }
}

@keyframes cycle109 {
      0% { transform: translateX(0px) translateY(-109px); }
      100% { transform: translateX(0px) translateY(109px); }
}

@keyframes cycle110 {
      0% { transform: translateX(0px) translateY(-110px); }
      100% { transform: translateX(0px) translateY(110px); }
}

@keyframes cycle111 {
      0% { transform: translateX(0px) translateY(-111px); }
      100% { transform: translateX(0px) translateY(111px); }
}

@keyframes cycle112 {
      0% { transform: translateX(0px) translateY(-112px); }
      100% { transform: translateX(0px) translateY(112px); }
}

@keyframes cycle113 {
      0% { transform: translateX(0px) translateY(-113px); }
      100% { transform: translateX(0px) translateY(113px); }
}

@keyframes cycle114 {
      0% { transform: translateX(0px) translateY(-114px); }
      100% { transform: translateX(0px) translateY(114px); }
}

@keyframes cycle115 {
      0% { transform: translateX(0px) translateY(-115px); }
      100% { transform: translateX(0px) translateY(115px); }
}

@keyframes cycle116 {
      0% { transform: translateX(0px) translateY(-116px); }
      100% { transform: translateX(0px) translateY(116px); }
}

@keyframes cycle117 {
      0% { transform: translateX(0px) translateY(-117px); }
      100% { transform: translateX(0px) translateY(117px); }
}

@keyframes cycle118 {
      0% { transform: translateX(0px) translateY(-118px); }
      100% { transform: translateX(0px) translateY(118px); }
}

@keyframes cycle119 {
      0% { transform: translateX(0px) translateY(-119px); }
      100% { transform: translateX(0px) translateY(119px); }
}

@keyframes cycle120 {
      0% { transform: translateX(0px) translateY(-120px); }
      100% { transform: translateX(0px) translateY(120px); }
}

@keyframes cycle121 {
      0% { transform: translateX(0px) translateY(-121px); }
      100% { transform: translateX(0px) translateY(121px); }
}

@keyframes cycle122 {
      0% { transform: translateX(0px) translateY(-122px); }
      100% { transform: translateX(0px) translateY(122px); }
}

@keyframes cycle123 {
      0% { transform: translateX(0px) translateY(-123px); }
      100% { transform: translateX(0px) translateY(123px); }
}

@keyframes cycle124 {
      0% { transform: translateX(0px) translateY(-124px); }
      100% { transform: translateX(0px) translateY(124px); }
}

@keyframes cycle125 {
      0% { transform: translateX(0px) translateY(-125px); }
      100% { transform: translateX(0px) translateY(125px); }
}

@keyframes cycle126 {
      0% { transform: translateX(0px) translateY(-126px); }
      100% { transform: translateX(0px) translateY(126px); }
}

@keyframes cycle127 {
      0% { transform: translateX(0px) translateY(-127px); }
      100% { transform: translateX(0px) translateY(127px); }
}

@keyframes cycle128 {
      0% { transform: translateX(0px) translateY(-128px); }
      100% { transform: translateX(0px) translateY(128px); }
}

@keyframes cycle129 {
      0% { transform: translateX(0px) translateY(-129px); }
      100% { transform: translateX(0px) translateY(129px); }
}

@keyframes cycle130 {
      0% { transform: translateX(0px) translateY(-130px); }
      100% { transform: translateX(0px) translateY(130px); }
}

@keyframes cycle131 {
      0% { transform: translateX(0px) translateY(-131px); }
      100% { transform: translateX(0px) translateY(131px); }
}

@keyframes cycle132 {
      0% { transform: translateX(0px) translateY(-132px); }
      100% { transform: translateX(0px) translateY(132px); }
}

@keyframes cycle133 {
      0% { transform: translateX(0px) translateY(-133px); }
      100% { transform: translateX(0px) translateY(133px); }
}

@keyframes cycle134 {
      0% { transform: translateX(0px) translateY(-134px); }
      100% { transform: translateX(0px) translateY(134px); }
}

@keyframes cycle135 {
      0% { transform: translateX(0px) translateY(-135px); }
      100% { transform: translateX(0px) translateY(135px); }
}

@keyframes cycle136 {
      0% { transform: translateX(0px) translateY(-136px); }
      100% { transform: translateX(0px) translateY(136px); }
}

@keyframes cycle137 {
      0% { transform: translateX(0px) translateY(-137px); }
      100% { transform: translateX(0px) translateY(137px); }
}

@keyframes cycle138 {
      0% { transform: translateX(0px) translateY(-138px); }
      100% { transform: translateX(0px) translateY(138px); }
}

@keyframes cycle139 {
      0% { transform: translateX(0px) translateY(-139px); }
      100% { transform: translateX(0px) translateY(139px); }
}

@keyframes cycle140 {
      0% { transform: translateX(0px) translateY(-140px); }
      100% { transform: translateX(0px) translateY(140px); }
}

@keyframes cycle141 {
      0% { transform: translateX(0px) translateY(-141px); }
      100% { transform: translateX(0px) translateY(141px); }
}

@keyframes cycle142 {
      0% { transform: translateX(0px) translateY(-142px); }
      100% { transform: translateX(0px) translateY(142px); }
}

@keyframes cycle143 {
      0% { transform: translateX(0px) translateY(-143px); }
      100% { transform: translateX(0px) translateY(143px); }
}

@keyframes cycle144 {
      0% { transform: translateX(0px) translateY(-144px); }
      100% { transform: translateX(0px) translateY(144px); }
}

@keyframes cycle145 {
      0% { transform: translateX(0px) translateY(-145px); }
      100% { transform: translateX(0px) translateY(145px); }
}

@keyframes cycle146 {
      0% { transform: translateX(0px) translateY(-146px); }
      100% { transform: translateX(0px) translateY(146px); }
}

@keyframes cycle147 {
      0% { transform: translateX(0px) translateY(-147px); }
      100% { transform: translateX(0px) translateY(147px); }
}

@keyframes cycle148 {
      0% { transform: translateX(0px) translateY(-148px); }
      100% { transform: translateX(0px) translateY(148px); }
}

@keyframes cycle149 {
      0% { transform: translateX(0px) translateY(-149px); }
      100% { transform: translateX(0px) translateY(149px); }
}

@keyframes cycle150 {
      0% { transform: translateX(0px) translateY(-150px); }
      100% { transform: translateX(0px) translateY(150px); }
}

@keyframes cycle151 {
      0% { transform: translateX(0px) translateY(-151px); }
      100% { transform: translateX(0px) translateY(151px); }
}

@keyframes cycle152 {
      0% { transform: translateX(0px) translateY(-152px); }
      100% { transform: translateX(0px) translateY(152px); }
}

@keyframes cycle153 {
      0% { transform: translateX(0px) translateY(-153px); }
      100% { transform: translateX(0px) translateY(153px); }
}

@keyframes cycle154 {
      0% { transform: translateX(0px) translateY(-154px); }
      100% { transform: translateX(0px) translateY(154px); }
}

@keyframes cycle155 {
      0% { transform: translateX(0px) translateY(-155px); }
      100% { transform: translateX(0px) translateY(155px); }
}

@keyframes cycle156 {
      0% { transform: translateX(0px) translateY(-156px); }
      100% { transform: translateX(0px) translateY(156px); }
}

@keyframes cycle157 {
      0% { transform: translateX(0px) translateY(-157px); }
      100% { transform: translateX(0px) translateY(157px); }
}

@keyframes cycle158 {
      0% { transform: translateX(0px) translateY(-158px); }
      100% { transform: translateX(0px) translateY(158px); }
}

@keyframes cycle159 {
      0% { transform: translateX(0px) translateY(-159px); }
      100% { transform: translateX(0px) translateY(159px); }
}

@keyframes cycle160 {
      0% { transform: translateX(0px) translateY(-160px); }
      100% { transform: translateX(0px) translateY(160px); }
}

@keyframes cycle161 {
      0% { transform: translateX(0px) translateY(-161px); }
      100% { transform: translateX(0px) translateY(161px); }
}

@keyframes cycle162 {
      0% { transform: translateX(0px) translateY(-162px); }
      100% { transform: translateX(0px) translateY(162px); }
}

@keyframes cycle163 {
      0% { transform: translateX(0px) translateY(-163px); }
      100% { transform: translateX(0px) translateY(163px); }
}

@keyframes cycle164 {
      0% { transform: translateX(0px) translateY(-164px); }
      100% { transform: translateX(0px) translateY(164px); }
}

@keyframes cycle165 {
      0% { transform: translateX(0px) translateY(-165px); }
      100% { transform: translateX(0px) translateY(165px); }
}

@keyframes cycle166 {
      0% { transform: translateX(0px) translateY(-166px); }
      100% { transform: translateX(0px) translateY(166px); }
}

@keyframes cycle167 {
      0% { transform: translateX(0px) translateY(-167px); }
      100% { transform: translateX(0px) translateY(167px); }
}

@keyframes cycle168 {
      0% { transform: translateX(0px) translateY(-168px); }
      100% { transform: translateX(0px) translateY(168px); }
}

@keyframes cycle169 {
      0% { transform: translateX(0px) translateY(-169px); }
      100% { transform: translateX(0px) translateY(169px); }
}

@keyframes cycle170 {
      0% { transform: translateX(0px) translateY(-170px); }
      100% { transform: translateX(0px) translateY(170px); }
}

@keyframes cycle171 {
      0% { transform: translateX(0px) translateY(-171px); }
      100% { transform: translateX(0px) translateY(171px); }
}

@keyframes cycle172 {
      0% { transform: translateX(0px) translateY(-172px); }
      100% { transform: translateX(0px) translateY(172px); }
}

@keyframes cycle173 {
      0% { transform: translateX(0px) translateY(-173px); }
      100% { transform: translateX(0px) translateY(173px); }
}

@keyframes cycle174 {
      0% { transform: translateX(0px) translateY(-174px); }
      100% { transform: translateX(0px) translateY(174px); }
}

@keyframes cycle175 {
      0% { transform: translateX(0px) translateY(-175px); }
      100% { transform: translateX(0px) translateY(175px); }
}

@keyframes cycle176 {
      0% { transform: translateX(0px) translateY(-176px); }
      100% { transform: translateX(0px) translateY(176px); }
}

@keyframes cycle177 {
      0% { transform: translateX(0px) translateY(-177px); }
      100% { transform: translateX(0px) translateY(177px); }
}

@keyframes cycle178 {
      0% { transform: translateX(0px) translateY(-178px); }
      100% { transform: translateX(0px) translateY(178px); }
}

@keyframes cycle179 {
      0% { transform: translateX(0px) translateY(-179px); }
      100% { transform: translateX(0px) translateY(179px); }
}

@keyframes cycle180 {
      0% { transform: translateX(0px) translateY(-180px); }
      100% { transform: translateX(0px) translateY(180px); }
}

@keyframes cycle181 {
      0% { transform: translateX(0px) translateY(-181px); }
      100% { transform: translateX(0px) translateY(181px); }
}

@keyframes cycle182 {
      0% { transform: translateX(0px) translateY(-182px); }
      100% { transform: translateX(0px) translateY(182px); }
}

@keyframes cycle183 {
      0% { transform: translateX(0px) translateY(-183px); }
      100% { transform: translateX(0px) translateY(183px); }
}

@keyframes cycle184 {
      0% { transform: translateX(0px) translateY(-184px); }
      100% { transform: translateX(0px) translateY(184px); }
}

@keyframes cycle185 {
      0% { transform: translateX(0px) translateY(-185px); }
      100% { transform: translateX(0px) translateY(185px); }
}

@keyframes cycle186 {
      0% { transform: translateX(0px) translateY(-186px); }
      100% { transform: translateX(0px) translateY(186px); }
}

@keyframes cycle187 {
      0% { transform: translateX(0px) translateY(-187px); }
      100% { transform: translateX(0px) translateY(187px); }
}

@keyframes cycle188 {
      0% { transform: translateX(0px) translateY(-188px); }
      100% { transform: translateX(0px) translateY(188px); }
}

@keyframes cycle189 {
      0% { transform: translateX(0px) translateY(-189px); }
      100% { transform: translateX(0px) translateY(189px); }
}

@keyframes cycle190 {
      0% { transform: translateX(0px) translateY(-190px); }
      100% { transform: translateX(0px) translateY(190px); }
}

@keyframes cycle191 {
      0% { transform: translateX(0px) translateY(-191px); }
      100% { transform: translateX(0px) translateY(191px); }
}

@keyframes cycle192 {
      0% { transform: translateX(0px) translateY(-192px); }
      100% { transform: translateX(0px) translateY(192px); }
}

@keyframes cycle193 {
      0% { transform: translateX(0px) translateY(-193px); }
      100% { transform: translateX(0px) translateY(193px); }
}

@keyframes cycle194 {
      0% { transform: translateX(0px) translateY(-194px); }
      100% { transform: translateX(0px) translateY(194px); }
}

@keyframes cycle195 {
      0% { transform: translateX(0px) translateY(-195px); }
      100% { transform: translateX(0px) translateY(195px); }
}

@keyframes cycle196 {
      0% { transform: translateX(0px) translateY(-196px); }
      100% { transform: translateX(0px) translateY(196px); }
}

@keyframes cycle197 {
      0% { transform: translateX(0px) translateY(-197px); }
      100% { transform: translateX(0px) translateY(197px); }
}

@keyframes cycle198 {
      0% { transform: translateX(0px) translateY(-198px); }
      100% { transform: translateX(0px) translateY(198px); }
}

@keyframes cycle199 {
      0% { transform: translateX(0px) translateY(-199px); }
      100% { transform: translateX(0px) translateY(199px); }
}

