.highlights {
    position: absolute;
    top: 240px;
    width: 100%;
    height: 30px;
}


.highlight {
    position: absolute;
    opacity: 0;
    top: 0px;
    transform: translate(0px,100px);
    -webkit-transform: translate(0px,100px);
    transition:         all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}


.highlight.objtype-egg {
    left: 30px;
}
.highlight.marriages {
    left: 290px;
}
.highlight.merging {
    left: 490px;
}
.highlight.simmering {
    left: 670px;
}
.highlight.life {
    left: 1100px;
}
.highlight.sentient {
    left: 1360px;
}




.highlight.objtype-egg .arrow {
    height: 600px;
}
.highlight.marriages .arrow {
    height: 450px;
}
.highlight.merging .arrow {
    height: 300px;
}
.highlight.life .arrow {
    height: 450px;
}
.highlight.sentient .arrow {
    height: 300px;
}
.highlight .arrow {
    border-left: 2px white solid;
    height: 150px;
}





.highlight .highlabel {
    border-left: 2px white solid;
    padding-left: 8px;
    color: white;
    font-family: arial;
    font-size: 44px;
}

    
.highlight.marriages .viz {
    transform: scale(3,3) translate(47px, -53px) ;
    transform-origin: 50% 50% 0;
}
    
.highlight.simmering .viz {
    transform: scale(3,3) translate(88px, -57px) ;
    transform-origin: 50% 50% 0;
}
    
.highlight .viz {
    transform: scale(2.7,2.7) translate(39px, -63px) ;
    transform-origin: 50% 50% 0;
}
