body, .ui-page {
    background-color: rgb(22,22,31) !important;
    overflow: hidden;
}


.upper_branch {
    position: absolute;
    margin-top: -180px;
}

.lower_branch {
    position: absolute;
    margin-top: 135px;
}

.leaf-holder {
    position: relative;
    z-index: 1000;
    transform: scale(1.35,1);
}


.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}








.timeline {
    opacity: 0;
    position: absolute;
    top: 270px;
    left: 30px;
    height: 1px;
    width: 1800px;
    color: white;
    background-color: grey;
}
.timeline.visible {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.timeline.visible-instant {
    opacity: 1;
}

.timemarker,.xmarker {
    cursor: pointer;
    position: absolute;
}


.timemarker-prose {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 400px;
    color: white;
    font-family: Arial;
    font-size: 24px;
}
.timemarker-prose table {
    padding-bottom: 10px;
    width: 400px;
}
.timemarker-prose td {
    border: 1px solid grey;
    padding: 8px;
}
.timemarker-prose td.time {
    font-weight: bold;
    padding-right: 20px;
    color: white;
    font-size: 18pt;
    vertical-align: top;
    width: 40%;
}
.timemarker-prose td.label {
    width: 60%;
    font-weight: bold;
    color: white;
    font-size: 18pt;
    vertical-align: top;
    top: auto;
}


.xmarker .notch {
    top: -19px !important;
    background-color: red !important;
}
.xmarker .label {
    top: -38px !important;
    color: red !important;
}
    


.notch {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: white;
}

.label {
    width: 55px;
    position: absolute;
    font-family: arial;
    font-size: 15px;
    top: 15px;
}

.label .time {
    font-weight: bold;
    margin-bottom: 20px;
}





@keyframes spin {
    from {transform: translate3d(200px, 0px, 0px)   rotate3d(0, 0, 1, 0deg);}
    to {transform:   translate3d(300px, 0px, 0px)   rotate3d(0, 0, 1, -50deg);}
}

.sentient-being {
    z-index: 100;
    position: absolute;
    left: -600px;
    width: 28px;
    height: 28px;
    background-color: yellow;
    animation-name: stylie-transform-keyframes-1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.leaf {
    z-index: 100;
    left: -300px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.leaf.composite-1 {
    background-image: url(leaf-1.svg);
    width: 30px;
    height: 30px;
}

.leaf.composite-2 {
    background-image: url(leaf-2.svg);
    width: 30px;
    height: 30px;
}

.leaf.composite-3 {
    background-image: url(leaf-3.svg);
    width: 58px;
    height: 58px;
}

.leaf.composite-4 {
    background-image: url(leaf-4.svg);
    width: 55px;
    height: 55px;
}

.leaf.composite-5 {
    background-image: url(leaf-5.svg);
    width: 86px;
    height: 86px;
}

.leaf.composite-6 {
    background-image: url(leaf-6.svg);
    width: 38px;
    height: 38px;
}

.leaf.composite-7 {
    background-image: url(leaf-7.svg);
    width: 30px;
    height: 30px;
}

.leaf.composite-8 {
    background-image: url(leaf-8.svg);
    width: 30px;
    height: 30px;
}




.atom {
    position: absolute;
    background-color: #89b4dd;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.atom.childcount1 .hadron {
    transform: scale3d(0.6,0.6,1) translate3d(8px,8px,0px);
}

.atom.childcount2 .h0 {
    transform: scale3d(0.6,0.6,1) translate3d(-2px,-2px,0px);
}
.atom.childcount2 .h1 {
    transform: scale3d(0.6,0.6,1) translate3d(18px, 18px, 18px);
}



.hadron {
    position: absolute;
    background-color: #bfe2f7;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


.densematt {
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.densematt.dense1 {
    background-color: #416393;
}
.densematt.dense2 {
    background-color: #203054;
}
.densematt.blackhole {
    background-color: black;
}
.densematt.egg {
    background-color: white;
}



.quark {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 8.5px;
    height: 8.5px;
}

.quark.upleft {
    left: 3px;
    top: 4px;
    background-color: #7ebea2;
}

.quark.upright {
    left: 13px;
    top: 4px;
    background-color: #7ebea2;
}

.quark.down {
    left: 8px;
    top: 14px;
    background-color: #90ca6d;
}



#slatewrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slate {
    position: relative;
    width: 2180px;
    top: 255px;
}




/* INNERMOST div */
.circle {
    z-index: 1;
    border-radius: 50%;
}

.circle-outer {
}


@keyframes animcircle { 
    from { transform: translate3d(-10px, 0px, -30px); } 
    to { transform: translate3d(10px, 0px, 30px); } 
}
