@keyframes updown1 {
    from { transform: translateY(-1.1px); } 
      to { transform: translateY( 1.1px); }
}

@keyframes updown2 {
    from { transform: translateY(-2.2px); } 
      to { transform: translateY( 2.2px); }
}

@keyframes updown3 {
    from { transform: translateY(-3.3px); } 
      to { transform: translateY( 3.3px); }
}

@keyframes updown4 {
    from { transform: translateY(-4.4px); } 
      to { transform: translateY( 4.4px); }
}

@keyframes updown5 {
    from { transform: translateY(-5.5px); } 
      to { transform: translateY( 5.5px); }
}

@keyframes updown6 {
    from { transform: translateY(-6.6px); } 
      to { transform: translateY( 6.6px); }
}

@keyframes updown7 {
    from { transform: translateY(-7.7px); } 
      to { transform: translateY( 7.7px); }
}

@keyframes updown8 {
    from { transform: translateY(-8.8px); } 
      to { transform: translateY( 8.8px); }
}

@keyframes updown9 {
    from { transform: translateY(-9.9px); } 
      to { transform: translateY( 9.9px); }
}

@keyframes updown10 {
    from { transform: translateY(-11.0px); } 
      to { transform: translateY( 11.0px); }
}

@keyframes updown11 {
    from { transform: translateY(-12.1px); } 
      to { transform: translateY( 12.1px); }
}

@keyframes updown12 {
    from { transform: translateY(-13.2px); } 
      to { transform: translateY( 13.2px); }
}

@keyframes updown13 {
    from { transform: translateY(-14.3px); } 
      to { transform: translateY( 14.3px); }
}

@keyframes updown14 {
    from { transform: translateY(-15.4px); } 
      to { transform: translateY( 15.4px); }
}

@keyframes updown15 {
    from { transform: translateY(-16.5px); } 
      to { transform: translateY( 16.5px); }
}

@keyframes updown16 {
    from { transform: translateY(-17.6px); } 
      to { transform: translateY( 17.6px); }
}

@keyframes updown17 {
    from { transform: translateY(-18.7px); } 
      to { transform: translateY( 18.7px); }
}

@keyframes updown18 {
    from { transform: translateY(-19.8px); } 
      to { transform: translateY( 19.8px); }
}

@keyframes updown19 {
    from { transform: translateY(-20.9px); } 
      to { transform: translateY( 20.9px); }
}

@keyframes updown20 {
    from { transform: translateY(-22.0px); } 
      to { transform: translateY( 22.0px); }
}

@keyframes updown21 {
    from { transform: translateY(-23.1px); } 
      to { transform: translateY( 23.1px); }
}

@keyframes updown22 {
    from { transform: translateY(-24.2px); } 
      to { transform: translateY( 24.2px); }
}

@keyframes updown23 {
    from { transform: translateY(-25.3px); } 
      to { transform: translateY( 25.3px); }
}

@keyframes updown24 {
    from { transform: translateY(-26.4px); } 
      to { transform: translateY( 26.4px); }
}

@keyframes updown25 {
    from { transform: translateY(-27.5px); } 
      to { transform: translateY( 27.5px); }
}

@keyframes updown26 {
    from { transform: translateY(-28.6px); } 
      to { transform: translateY( 28.6px); }
}

@keyframes updown27 {
    from { transform: translateY(-29.7px); } 
      to { transform: translateY( 29.7px); }
}

@keyframes updown28 {
    from { transform: translateY(-30.8px); } 
      to { transform: translateY( 30.8px); }
}

@keyframes updown29 {
    from { transform: translateY(-31.9px); } 
      to { transform: translateY( 31.9px); }
}

@keyframes updown30 {
    from { transform: translateY(-33.0px); } 
      to { transform: translateY( 33.0px); }
}

@keyframes updown31 {
    from { transform: translateY(-34.1px); } 
      to { transform: translateY( 34.1px); }
}

@keyframes updown32 {
    from { transform: translateY(-35.2px); } 
      to { transform: translateY( 35.2px); }
}

@keyframes updown33 {
    from { transform: translateY(-36.3px); } 
      to { transform: translateY( 36.3px); }
}

@keyframes updown34 {
    from { transform: translateY(-37.4px); } 
      to { transform: translateY( 37.4px); }
}

@keyframes updown35 {
    from { transform: translateY(-38.5px); } 
      to { transform: translateY( 38.5px); }
}

@keyframes updown36 {
    from { transform: translateY(-39.6px); } 
      to { transform: translateY( 39.6px); }
}

@keyframes updown37 {
    from { transform: translateY(-40.7px); } 
      to { transform: translateY( 40.7px); }
}

@keyframes updown38 {
    from { transform: translateY(-41.8px); } 
      to { transform: translateY( 41.8px); }
}

@keyframes updown39 {
    from { transform: translateY(-42.9px); } 
      to { transform: translateY( 42.9px); }
}

@keyframes updown40 {
    from { transform: translateY(-44.0px); } 
      to { transform: translateY( 44.0px); }
}

@keyframes updown41 {
    from { transform: translateY(-45.1px); } 
      to { transform: translateY( 45.1px); }
}

@keyframes updown42 {
    from { transform: translateY(-46.2px); } 
      to { transform: translateY( 46.2px); }
}

@keyframes updown43 {
    from { transform: translateY(-47.3px); } 
      to { transform: translateY( 47.3px); }
}

@keyframes updown44 {
    from { transform: translateY(-48.4px); } 
      to { transform: translateY( 48.4px); }
}

@keyframes updown45 {
    from { transform: translateY(-49.5px); } 
      to { transform: translateY( 49.5px); }
}

@keyframes updown46 {
    from { transform: translateY(-50.6px); } 
      to { transform: translateY( 50.6px); }
}

@keyframes updown47 {
    from { transform: translateY(-51.7px); } 
      to { transform: translateY( 51.7px); }
}

@keyframes updown48 {
    from { transform: translateY(-52.8px); } 
      to { transform: translateY( 52.8px); }
}

@keyframes updown49 {
    from { transform: translateY(-53.9px); } 
      to { transform: translateY( 53.9px); }
}

@keyframes updown50 {
    from { transform: translateY(-55.0px); } 
      to { transform: translateY( 55.0px); }
}

@keyframes updown51 {
    from { transform: translateY(-56.1px); } 
      to { transform: translateY( 56.1px); }
}

@keyframes updown52 {
    from { transform: translateY(-57.2px); } 
      to { transform: translateY( 57.2px); }
}

@keyframes updown53 {
    from { transform: translateY(-58.3px); } 
      to { transform: translateY( 58.3px); }
}

@keyframes updown54 {
    from { transform: translateY(-59.4px); } 
      to { transform: translateY( 59.4px); }
}

@keyframes updown55 {
    from { transform: translateY(-60.5px); } 
      to { transform: translateY( 60.5px); }
}

@keyframes updown56 {
    from { transform: translateY(-61.6px); } 
      to { transform: translateY( 61.6px); }
}

@keyframes updown57 {
    from { transform: translateY(-62.7px); } 
      to { transform: translateY( 62.7px); }
}

@keyframes updown58 {
    from { transform: translateY(-63.8px); } 
      to { transform: translateY( 63.8px); }
}

@keyframes updown59 {
    from { transform: translateY(-64.9px); } 
      to { transform: translateY( 64.9px); }
}

@keyframes updown60 {
    from { transform: translateY(-66.0px); } 
      to { transform: translateY( 66.0px); }
}

@keyframes updown61 {
    from { transform: translateY(-67.1px); } 
      to { transform: translateY( 67.1px); }
}

@keyframes updown62 {
    from { transform: translateY(-68.2px); } 
      to { transform: translateY( 68.2px); }
}

@keyframes updown63 {
    from { transform: translateY(-69.3px); } 
      to { transform: translateY( 69.3px); }
}

@keyframes updown64 {
    from { transform: translateY(-70.4px); } 
      to { transform: translateY( 70.4px); }
}

@keyframes updown65 {
    from { transform: translateY(-71.5px); } 
      to { transform: translateY( 71.5px); }
}

@keyframes updown66 {
    from { transform: translateY(-72.6px); } 
      to { transform: translateY( 72.6px); }
}

@keyframes updown67 {
    from { transform: translateY(-73.7px); } 
      to { transform: translateY( 73.7px); }
}

@keyframes updown68 {
    from { transform: translateY(-74.8px); } 
      to { transform: translateY( 74.8px); }
}

@keyframes updown69 {
    from { transform: translateY(-75.9px); } 
      to { transform: translateY( 75.9px); }
}

@keyframes updown70 {
    from { transform: translateY(-77.0px); } 
      to { transform: translateY( 77.0px); }
}

@keyframes updown71 {
    from { transform: translateY(-78.1px); } 
      to { transform: translateY( 78.1px); }
}

@keyframes updown72 {
    from { transform: translateY(-79.2px); } 
      to { transform: translateY( 79.2px); }
}

@keyframes updown73 {
    from { transform: translateY(-80.3px); } 
      to { transform: translateY( 80.3px); }
}

@keyframes updown74 {
    from { transform: translateY(-81.4px); } 
      to { transform: translateY( 81.4px); }
}

@keyframes updown75 {
    from { transform: translateY(-82.5px); } 
      to { transform: translateY( 82.5px); }
}

@keyframes updown76 {
    from { transform: translateY(-83.6px); } 
      to { transform: translateY( 83.6px); }
}

@keyframes updown77 {
    from { transform: translateY(-84.7px); } 
      to { transform: translateY( 84.7px); }
}

@keyframes updown78 {
    from { transform: translateY(-85.8px); } 
      to { transform: translateY( 85.8px); }
}

@keyframes updown79 {
    from { transform: translateY(-86.9px); } 
      to { transform: translateY( 86.9px); }
}

@keyframes updown80 {
    from { transform: translateY(-88.0px); } 
      to { transform: translateY( 88.0px); }
}

@keyframes updown81 {
    from { transform: translateY(-89.1px); } 
      to { transform: translateY( 89.1px); }
}

@keyframes updown82 {
    from { transform: translateY(-90.2px); } 
      to { transform: translateY( 90.2px); }
}

@keyframes updown83 {
    from { transform: translateY(-91.3px); } 
      to { transform: translateY( 91.3px); }
}

@keyframes updown84 {
    from { transform: translateY(-92.4px); } 
      to { transform: translateY( 92.4px); }
}

@keyframes updown85 {
    from { transform: translateY(-93.5px); } 
      to { transform: translateY( 93.5px); }
}

@keyframes updown86 {
    from { transform: translateY(-94.6px); } 
      to { transform: translateY( 94.6px); }
}

@keyframes updown87 {
    from { transform: translateY(-95.7px); } 
      to { transform: translateY( 95.7px); }
}

@keyframes updown88 {
    from { transform: translateY(-96.8px); } 
      to { transform: translateY( 96.8px); }
}

@keyframes updown89 {
    from { transform: translateY(-97.9px); } 
      to { transform: translateY( 97.9px); }
}

@keyframes updown90 {
    from { transform: translateY(-99.0px); } 
      to { transform: translateY( 99.0px); }
}

@keyframes updown91 {
    from { transform: translateY(-100.1px); } 
      to { transform: translateY( 100.1px); }
}

@keyframes updown92 {
    from { transform: translateY(-101.2px); } 
      to { transform: translateY( 101.2px); }
}

@keyframes updown93 {
    from { transform: translateY(-102.3px); } 
      to { transform: translateY( 102.3px); }
}

@keyframes updown94 {
    from { transform: translateY(-103.4px); } 
      to { transform: translateY( 103.4px); }
}

@keyframes updown95 {
    from { transform: translateY(-104.5px); } 
      to { transform: translateY( 104.5px); }
}

@keyframes updown96 {
    from { transform: translateY(-105.6px); } 
      to { transform: translateY( 105.6px); }
}

@keyframes updown97 {
    from { transform: translateY(-106.7px); } 
      to { transform: translateY( 106.7px); }
}

@keyframes updown98 {
    from { transform: translateY(-107.8px); } 
      to { transform: translateY( 107.8px); }
}

@keyframes updown99 {
    from { transform: translateY(-108.9px); } 
      to { transform: translateY( 108.9px); }
}

